body {
    background-color: aqua;
}
h1 {
    color: navy;
    margin-left: 20px;
}
p {
    color: red;
    text-align: left;
}
/*For id selection */
#para1 {
    text-align: center;
    color: red;
  }